<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridge.skl.dto.DeviceRecommendMapper">
  <resultMap id="BaseResultMap" type="com.fridge.skl.entity.DeviceRecommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="devicecode" jdbcType="VARCHAR" property="devicecode" />
    <result column="device" jdbcType="VARCHAR" property="device" />
    <result column="recommend" jdbcType="VARCHAR" property="recommend" />
    <result column="sup" jdbcType="VARCHAR" property="sup" />
    <result column="opendoor1" jdbcType="VARCHAR" property="opendoor1" />
    <result column="opendoor2" jdbcType="VARCHAR" property="opendoor2" />
    <result column="opendoor3" jdbcType="VARCHAR" property="opendoor3" />
    <result column="opendoor4" jdbcType="VARCHAR" property="opendoor4" />
    <result column="opendoor5" jdbcType="VARCHAR" property="opendoor5" />
    <result column="opendoor6" jdbcType="VARCHAR" property="opendoor6" />
    <result column="opendoor7" jdbcType="VARCHAR" property="opendoor7" />
    <result column="opendoor8" jdbcType="VARCHAR" property="opendoor8" />
  </resultMap>
  <sql id="Base_Column_List">
    id, devicecode, device, recommend, sup, opendoor1, opendoor2, opendoor3, opendoor4,
    opendoor5, opendoor6, opendoor7, opendoor8
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDeviceName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from device_recommend
    where device = #{device,jdbcType=VARCHAR}
  </select>

  <select id="selectByDeviceCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from device_recommend
    where devicecode = #{devicecode,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from device_recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.DeviceRecommend" useGeneratedKeys="true">
    insert into device_recommend (devicecode, device, recommend, 
      sup)
    values (#{devicecode,jdbcType=VARCHAR}, #{device,jdbcType=VARCHAR}, #{recommend,jdbcType=VARCHAR}, 
      #{sup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.DeviceRecommend" useGeneratedKeys="true">
    insert into device_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="devicecode != null">
        devicecode,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="sup != null">
        sup,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="devicecode != null">
        #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="sup != null">
        #{sup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fridge.skl.entity.DeviceRecommend">
    update device_recommend
    <set>
      <if test="devicecode != null">
        devicecode = #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="sup != null">
        sup = #{sup,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fridge.skl.entity.DeviceRecommend">
    update device_recommend
    set devicecode = #{devicecode,jdbcType=VARCHAR},
      device = #{device,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=VARCHAR},
      sup = #{sup,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>