<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridge.skl.dto.UnlifeTogetherfoodMapper">
    <resultMap id="BaseResultMap" type="com.fridge.skl.entity.UnlifeTogetherfood">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="foodid" jdbcType="INTEGER" property="foodid"/>
        <result column="togetherFoodId" jdbcType="VARCHAR" property="togetherfoodid"/>
        <result column="togetherFoodName" jdbcType="VARCHAR" property="togetherfoodname"/>
        <result column="togetherPicUrl" jdbcType="VARCHAR" property="togetherpicurl"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, foodid, togetherFoodId, togetherFoodName, togetherPicUrl, reason
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unlife_togetherfood
        where id = #{id,jdbcType=INTEGER}
    </select>   <select id="selectByFoodid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unlife_togetherfood
        where foodid = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from unlife_togetherfood
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.UnlifeTogetherfood"
            useGeneratedKeys="true">
    insert into unlife_togetherfood (foodid, togetherFoodId, togetherFoodName, 
      togetherPicUrl, reason)
    values (#{foodid,jdbcType=VARCHAR}, #{togetherfoodid,jdbcType=VARCHAR}, #{togetherfoodname,jdbcType=VARCHAR}, 
      #{togetherpicurl,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.fridge.skl.entity.UnlifeTogetherfood" useGeneratedKeys="true">
        insert into unlife_togetherfood
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foodid != null">
                foodid,
            </if>
            <if test="togetherfoodid != null">
                togetherFoodId,
            </if>
            <if test="togetherfoodname != null">
                togetherFoodName,
            </if>
            <if test="togetherpicurl != null">
                togetherPicUrl,
            </if>
            <if test="reason != null">
                reason,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foodid != null">
                #{foodid,jdbcType=VARCHAR},
            </if>
            <if test="togetherfoodid != null">
                #{togetherfoodid,jdbcType=VARCHAR},
            </if>
            <if test="togetherfoodname != null">
                #{togetherfoodname,jdbcType=VARCHAR},
            </if>
            <if test="togetherpicurl != null">
                #{togetherpicurl,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fridge.skl.entity.UnlifeTogetherfood">
        update unlife_togetherfood
        <set>
            <if test="foodid != null">
                foodid = #{foodid,jdbcType=VARCHAR},
            </if>
            <if test="togetherfoodid != null">
                togetherFoodId = #{togetherfoodid,jdbcType=VARCHAR},
            </if>
            <if test="togetherfoodname != null">
                togetherFoodName = #{togetherfoodname,jdbcType=VARCHAR},
            </if>
            <if test="togetherpicurl != null">
                togetherPicUrl = #{togetherpicurl,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fridge.skl.entity.UnlifeTogetherfood">
    update unlife_togetherfood
    set foodid = #{foodid,jdbcType=VARCHAR},
      togetherFoodId = #{togetherfoodid,jdbcType=VARCHAR},
      togetherFoodName = #{togetherfoodname,jdbcType=VARCHAR},
      togetherPicUrl = #{togetherpicurl,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <insert id="insertOrUpadte" parameterType="com.fridge.skl.entity.UnlifeTogetherfood">
       insert into unlife_togetherfood (foodid, togetherFoodId, togetherFoodName,
      togetherPicUrl, reason)
    values (#{foodid,jdbcType=VARCHAR}, #{togetherfoodid,jdbcType=VARCHAR}, #{togetherfoodname,jdbcType=VARCHAR},
      #{togetherpicurl,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
       ON DUPLICATE KEY UPDATE
      foodid = #{foodid,jdbcType=INTEGER},
      togetherFoodId = #{togetherfoodid,jdbcType=INTEGER},
      togetherFoodName = #{togetherfoodname,jdbcType=VARCHAR},
      togetherPicUrl = #{togetherpicurl,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR}
    </insert>


</mapper>