<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridge.skl.dto.UnlifeRelativefoodMapper">
  <resultMap id="BaseResultMap" type="com.fridge.skl.entity.UnlifeRelativefood">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="foodid" jdbcType="INTEGER" property="foodid" />
    <result column="relativeFoodId" jdbcType="INTEGER" property="relativefoodid" />
    <result column="relativeFoodName" jdbcType="VARCHAR" property="relativefoodname" />
    <result column="relativePicUrl" jdbcType="VARCHAR" property="relativepicurl" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    id, foodid, relativeFoodId, relativeFoodName, relativePicUrl, reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from unlife_relativefood
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByFoodid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from unlife_relativefood
    where foodid = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from unlife_relativefood
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.UnlifeRelativefood" useGeneratedKeys="true">
    insert into unlife_relativefood (foodid, relativeFoodId, relativeFoodName, 
      relativePicUrl, reason)
    values (#{foodid,jdbcType=INTEGER}, #{relativefoodid,jdbcType=INTEGER}, #{relativefoodname,jdbcType=VARCHAR},
      #{relativepicurl,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.UnlifeRelativefood" useGeneratedKeys="true">
    insert into unlife_relativefood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="foodid != null">
        foodid,
      </if>
      <if test="relativefoodid != null">
        relativeFoodId,
      </if>
      <if test="relativefoodname != null">
        relativeFoodName,
      </if>
      <if test="relativepicurl != null">
        relativePicUrl,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="foodid != null">
        #{foodid,jdbcType=INTEGER},
      </if>
      <if test="relativefoodid != null">
        #{relativefoodid,jdbcType=VARCHAR},
      </if>
      <if test="relativefoodname != null">
        #{relativefoodname,jdbcType=VARCHAR},
      </if>
      <if test="relativepicurl != null">
        #{relativepicurl,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fridge.skl.entity.UnlifeRelativefood">
    update unlife_relativefood
    <set>
      <if test="foodid != null">
        foodid = #{foodid,jdbcType=INTEGER},
      </if>
      <if test="relativefoodid != null">
        relativeFoodId = #{relativefoodid,jdbcType=VARCHAR},
      </if>
      <if test="relativefoodname != null">
        relativeFoodName = #{relativefoodname,jdbcType=VARCHAR},
      </if>
      <if test="relativepicurl != null">
        relativePicUrl = #{relativepicurl,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fridge.skl.entity.UnlifeRelativefood">
    update unlife_relativefood
    set foodid = #{foodid,jdbcType=VARCHAR},
      relativeFoodId = #{relativefoodid,jdbcType=INTEGER},
      relativeFoodName = #{relativefoodname,jdbcType=VARCHAR},
      relativePicUrl = #{relativepicurl,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertOrUpadte" parameterType="com.fridge.skl.entity.UnlifeRelativefood">
       insert into unlife_relativefood (foodid, relativeFoodId, relativeFoodName,
      relativePicUrl, reason)
    values (#{foodid,jdbcType=VARCHAR}, #{relativefoodid,jdbcType=VARCHAR}, #{relativefoodname,jdbcType=VARCHAR},
      #{relativepicurl,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
       ON DUPLICATE KEY UPDATE
      foodid = #{foodid,jdbcType=INTEGER},
      relativeFoodId = #{relativefoodid,jdbcType=INTEGER},
      relativeFoodName = #{relativefoodname,jdbcType=VARCHAR},
      relativePicUrl = #{relativepicurl,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR}
    </insert>

</mapper>