<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridge.skl.dto.UnlifeFoodMapper">
    <resultMap id="BaseResultMap" type="com.fridge.skl.entity.UnlifeFood">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="shelfLife" jdbcType="INTEGER" property="shelflife"/>
        <result column="overdue" jdbcType="FLOAT" property="overdue"/>
        <result column="classifyFaceId" jdbcType="VARCHAR" property="classifyfaceid"/>
        <result column="classifyFaceName" jdbcType="VARCHAR" property="classifyfacename"/>
        <result column="storeArea" jdbcType="VARCHAR" property="storearea"/>
        <result column="storeAreaAdvise" jdbcType="VARCHAR" property="storeareaadvise"/>
        <result column="storeC" jdbcType="INTEGER" property="storec"/>
        <result column="heatHot" jdbcType="INTEGER" property="heathot"/>
        <result column="picUrl" jdbcType="VARCHAR" property="picurl"/>
        <result column="fitUser" jdbcType="VARCHAR" property="fituser"/>
        <result column="avoidUser" jdbcType="VARCHAR" property="avoiduser"/>
        <result column="introducte" jdbcType="VARCHAR" property="introducte"/>
        <result column="isCollection" jdbcType="VARCHAR" property="iscollection"/>
        <result column="isVaild" jdbcType="VARCHAR" property="isvaild"/>
        <result column="updateDate" jdbcType="VARCHAR" property="updatedate"/>
        <result column="deviceId" jdbcType="VARCHAR" property="deviceid"/>
        <result column="realCatalogId" jdbcType="VARCHAR" property="realcatalogid"/>
        <result column="adviseAutoMode" jdbcType="VARCHAR" property="adviseautomode"/>
        <result column="adviseDryMode" jdbcType="VARCHAR" property="advisedrymode"/>
        <result column="noAdviseCabin" jdbcType="VARCHAR" property="noadvisecabin"/>
        <result column="coldMinDay" jdbcType="INTEGER" property="coldminday"/>
        <result column="coldMaxDay" jdbcType="INTEGER" property="coldmaxday"/>
        <result column="coldMinTemp" jdbcType="INTEGER" property="coldmintemp"/>
        <result column="coldMaxTemp" jdbcType="INTEGER" property="coldmaxtemp"/>
        <result column="freezingMinDay" jdbcType="INTEGER" property="freezingminday"/>
        <result column="freezingMaxDay" jdbcType="INTEGER" property="freezingmaxday"/>
        <result column="freezingMinTemp" jdbcType="INTEGER" property="freezingmintemp"/>
        <result column="freezingMaxTemp" jdbcType="INTEGER" property="freezingmaxtemp"/>
        <result column="minWater" jdbcType="INTEGER" property="minwater"/>
        <result column="maxWater" jdbcType="INTEGER" property="maxwater"/>
        <result column="picVer" jdbcType="VARCHAR" property="picver"/>
        <result column="businessType" jdbcType="VARCHAR" property="businesstype"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, `alias`, shelfLife, overdue, classifyFaceId, classifyFaceName, storeArea, 
    storeAreaAdvise, storeC, heatHot, picUrl, fitUser, avoidUser, introducte, isCollection, 
    isVaild, updateDate, deviceId, realCatalogId, adviseAutoMode, adviseDryMode, noAdviseCabin, 
    coldMinDay, coldMaxDay, coldMinTemp, coldMaxTemp, freezingMinDay, freezingMaxDay, 
    freezingMinTemp, freezingMaxTemp, minWater, maxWater, picVer, businessType
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from unlife_food
    where id = #{id,jdbcType=INTEGER}
</select>
    <select id="selectAllfoodname" resultType="java.lang.String">
        select
        name
        from unlife_food
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unlife_food
         WHERE `name` =#{name,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from unlife_food
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.UnlifeFood"
            useGeneratedKeys="true">
    insert into unlife_food (`name`, `alias`, shelfLife, 
      overdue, classifyFaceId, classifyFaceName, 
      storeArea, storeAreaAdvise, storeC, 
      heatHot, picUrl, fitUser, 
      avoidUser, introducte, isCollection, 
      isVaild, updateDate, deviceId, 
      realCatalogId, adviseAutoMode, adviseDryMode, 
      noAdviseCabin, coldMinDay, coldMaxDay, 
      coldMinTemp, coldMaxTemp, freezingMinDay, 
      freezingMaxDay, freezingMinTemp, freezingMaxTemp, 
      minWater, maxWater, picVer, 
      businessType)
    values (#{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{shelflife,jdbcType=INTEGER}, 
      #{overdue,jdbcType=FLOAT}, #{classifyfaceid,jdbcType=VARCHAR}, #{classifyfacename,jdbcType=VARCHAR},
      #{storearea,jdbcType=VARCHAR}, #{storeareaadvise,jdbcType=VARCHAR}, #{storec,jdbcType=INTEGER}, 
      #{heathot,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR}, #{fituser,jdbcType=VARCHAR}, 
      #{avoiduser,jdbcType=VARCHAR}, #{introducte,jdbcType=VARCHAR}, #{iscollection,jdbcType=VARCHAR}, 
      #{isvaild,jdbcType=VARCHAR}, #{updatedate,jdbcType=VARCHAR}, #{deviceid,jdbcType=VARCHAR}, 
      #{realcatalogid,jdbcType=VARCHAR}, #{adviseautomode,jdbcType=VARCHAR}, #{advisedrymode,jdbcType=VARCHAR}, 
      #{noadvisecabin,jdbcType=VARCHAR}, #{coldminday,jdbcType=INTEGER}, #{coldmaxday,jdbcType=INTEGER}, 
      #{coldmintemp,jdbcType=INTEGER}, #{coldmaxtemp,jdbcType=INTEGER}, #{freezingminday,jdbcType=INTEGER}, 
      #{freezingmaxday,jdbcType=INTEGER}, #{freezingmintemp,jdbcType=INTEGER}, #{freezingmaxtemp,jdbcType=INTEGER}, 
      #{minwater,jdbcType=INTEGER}, #{maxwater,jdbcType=INTEGER}, #{picver,jdbcType=VARCHAR}, 
      #{businesstype,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.UnlifeFood"
            useGeneratedKeys="true">
        insert into unlife_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="alias != null">
                `alias`,
            </if>
            <if test="shelflife != null">
                shelfLife,
            </if>
            <if test="overdue != null">
                overdue,
            </if>
            <if test="classifyfaceid != null">
                classifyFaceId,
            </if>
            <if test="classifyfacename != null">
                classifyFaceName,
            </if>
            <if test="storearea != null">
                storeArea,
            </if>
            <if test="storeareaadvise != null">
                storeAreaAdvise,
            </if>
            <if test="storec != null">
                storeC,
            </if>
            <if test="heathot != null">
                heatHot,
            </if>
            <if test="picurl != null">
                picUrl,
            </if>
            <if test="fituser != null">
                fitUser,
            </if>
            <if test="avoiduser != null">
                avoidUser,
            </if>
            <if test="introducte != null">
                introducte,
            </if>
            <if test="iscollection != null">
                isCollection,
            </if>
            <if test="isvaild != null">
                isVaild,
            </if>
            <if test="updatedate != null">
                updateDate,
            </if>
            <if test="deviceid != null">
                deviceId,
            </if>
            <if test="realcatalogid != null">
                realCatalogId,
            </if>
            <if test="adviseautomode != null">
                adviseAutoMode,
            </if>
            <if test="advisedrymode != null">
                adviseDryMode,
            </if>
            <if test="noadvisecabin != null">
                noAdviseCabin,
            </if>
            <if test="coldminday != null">
                coldMinDay,
            </if>
            <if test="coldmaxday != null">
                coldMaxDay,
            </if>
            <if test="coldmintemp != null">
                coldMinTemp,
            </if>
            <if test="coldmaxtemp != null">
                coldMaxTemp,
            </if>
            <if test="freezingminday != null">
                freezingMinDay,
            </if>
            <if test="freezingmaxday != null">
                freezingMaxDay,
            </if>
            <if test="freezingmintemp != null">
                freezingMinTemp,
            </if>
            <if test="freezingmaxtemp != null">
                freezingMaxTemp,
            </if>
            <if test="minwater != null">
                minWater,
            </if>
            <if test="maxwater != null">
                maxWater,
            </if>
            <if test="picver != null">
                picVer,
            </if>
            <if test="businesstype != null">
                businessType,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="alias != null">
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="shelflife != null">
                #{shelflife,jdbcType=INTEGER},
            </if>
            <if test="overdue != null">
                #{overdue,jdbcType=FLOAT},
            </if>
            <if test="classifyfaceid != null">
                #{classifyfaceid,jdbcType=VARCHAR},
            </if>
            <if test="classifyfacename != null">
                #{classifyfacename,jdbcType=VARCHAR},
            </if>
            <if test="storearea != null">
                #{storearea,jdbcType=VARCHAR},
            </if>
            <if test="storeareaadvise != null">
                #{storeareaadvise,jdbcType=VARCHAR},
            </if>
            <if test="storec != null">
                #{storec,jdbcType=INTEGER},
            </if>
            <if test="heathot != null">
                #{heathot,jdbcType=INTEGER},
            </if>
            <if test="picurl != null">
                #{picurl,jdbcType=VARCHAR},
            </if>
            <if test="fituser != null">
                #{fituser,jdbcType=VARCHAR},
            </if>
            <if test="avoiduser != null">
                #{avoiduser,jdbcType=VARCHAR},
            </if>
            <if test="introducte != null">
                #{introducte,jdbcType=VARCHAR},
            </if>
            <if test="iscollection != null">
                #{iscollection,jdbcType=VARCHAR},
            </if>
            <if test="isvaild != null">
                #{isvaild,jdbcType=VARCHAR},
            </if>
            <if test="updatedate != null">
                #{updatedate,jdbcType=VARCHAR},
            </if>
            <if test="deviceid != null">
                #{deviceid,jdbcType=VARCHAR},
            </if>
            <if test="realcatalogid != null">
                #{realcatalogid,jdbcType=VARCHAR},
            </if>
            <if test="adviseautomode != null">
                #{adviseautomode,jdbcType=VARCHAR},
            </if>
            <if test="advisedrymode != null">
                #{advisedrymode,jdbcType=VARCHAR},
            </if>
            <if test="noadvisecabin != null">
                #{noadvisecabin,jdbcType=VARCHAR},
            </if>
            <if test="coldminday != null">
                #{coldminday,jdbcType=INTEGER},
            </if>
            <if test="coldmaxday != null">
                #{coldmaxday,jdbcType=INTEGER},
            </if>
            <if test="coldmintemp != null">
                #{coldmintemp,jdbcType=INTEGER},
            </if>
            <if test="coldmaxtemp != null">
                #{coldmaxtemp,jdbcType=INTEGER},
            </if>
            <if test="freezingminday != null">
                #{freezingminday,jdbcType=INTEGER},
            </if>
            <if test="freezingmaxday != null">
                #{freezingmaxday,jdbcType=INTEGER},
            </if>
            <if test="freezingmintemp != null">
                #{freezingmintemp,jdbcType=INTEGER},
            </if>
            <if test="freezingmaxtemp != null">
                #{freezingmaxtemp,jdbcType=INTEGER},
            </if>
            <if test="minwater != null">
                #{minwater,jdbcType=INTEGER},
            </if>
            <if test="maxwater != null">
                #{maxwater,jdbcType=INTEGER},
            </if>
            <if test="picver != null">
                #{picver,jdbcType=VARCHAR},
            </if>
            <if test="businesstype != null">
                #{businesstype,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fridge.skl.entity.UnlifeFood">
        update unlife_food
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="alias != null">
                `alias` = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="shelflife != null">
                shelfLife = #{shelflife,jdbcType=INTEGER},
            </if>
            <if test="overdue != null">
                overdue = #{overdue,jdbcType=FLOAT},
            </if>
            <if test="classifyfaceid != null">
                classifyFaceId = #{classifyfaceid,jdbcType=VARCHAR},
            </if>
            <if test="classifyfacename != null">
                classifyFaceName = #{classifyfacename,jdbcType=VARCHAR},
            </if>
            <if test="storearea != null">
                storeArea = #{storearea,jdbcType=VARCHAR},
            </if>
            <if test="storeareaadvise != null">
                storeAreaAdvise = #{storeareaadvise,jdbcType=VARCHAR},
            </if>
            <if test="storec != null">
                storeC = #{storec,jdbcType=INTEGER},
            </if>
            <if test="heathot != null">
                heatHot = #{heathot,jdbcType=INTEGER},
            </if>
            <if test="picurl != null">
                picUrl = #{picurl,jdbcType=VARCHAR},
            </if>
            <if test="fituser != null">
                fitUser = #{fituser,jdbcType=VARCHAR},
            </if>
            <if test="avoiduser != null">
                avoidUser = #{avoiduser,jdbcType=VARCHAR},
            </if>
            <if test="introducte != null">
                introducte = #{introducte,jdbcType=VARCHAR},
            </if>
            <if test="iscollection != null">
                isCollection = #{iscollection,jdbcType=VARCHAR},
            </if>
            <if test="isvaild != null">
                isVaild = #{isvaild,jdbcType=VARCHAR},
            </if>
            <if test="updatedate != null">
                updateDate = #{updatedate,jdbcType=VARCHAR},
            </if>
            <if test="deviceid != null">
                deviceId = #{deviceid,jdbcType=VARCHAR},
            </if>
            <if test="realcatalogid != null">
                realCatalogId = #{realcatalogid,jdbcType=VARCHAR},
            </if>
            <if test="adviseautomode != null">
                adviseAutoMode = #{adviseautomode,jdbcType=VARCHAR},
            </if>
            <if test="advisedrymode != null">
                adviseDryMode = #{advisedrymode,jdbcType=VARCHAR},
            </if>
            <if test="noadvisecabin != null">
                noAdviseCabin = #{noadvisecabin,jdbcType=VARCHAR},
            </if>
            <if test="coldminday != null">
                coldMinDay = #{coldminday,jdbcType=INTEGER},
            </if>
            <if test="coldmaxday != null">
                coldMaxDay = #{coldmaxday,jdbcType=INTEGER},
            </if>
            <if test="coldmintemp != null">
                coldMinTemp = #{coldmintemp,jdbcType=INTEGER},
            </if>
            <if test="coldmaxtemp != null">
                coldMaxTemp = #{coldmaxtemp,jdbcType=INTEGER},
            </if>
            <if test="freezingminday != null">
                freezingMinDay = #{freezingminday,jdbcType=INTEGER},
            </if>
            <if test="freezingmaxday != null">
                freezingMaxDay = #{freezingmaxday,jdbcType=INTEGER},
            </if>
            <if test="freezingmintemp != null">
                freezingMinTemp = #{freezingmintemp,jdbcType=INTEGER},
            </if>
            <if test="freezingmaxtemp != null">
                freezingMaxTemp = #{freezingmaxtemp,jdbcType=INTEGER},
            </if>
            <if test="minwater != null">
                minWater = #{minwater,jdbcType=INTEGER},
            </if>
            <if test="maxwater != null">
                maxWater = #{maxwater,jdbcType=INTEGER},
            </if>
            <if test="picver != null">
                picVer = #{picver,jdbcType=VARCHAR},
            </if>
            <if test="businesstype != null">
                businessType = #{businesstype,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fridge.skl.entity.UnlifeFood">
    update unlife_food
    set `name` = #{name,jdbcType=VARCHAR},
      `alias` = #{alias,jdbcType=VARCHAR},
      shelfLife = #{shelflife,jdbcType=INTEGER},
      overdue = #{overdue,jdbcType=FLOAT},
      classifyFaceId = #{classifyfaceid,jdbcType=VARCHAR},
      classifyFaceName = #{classifyfacename,jdbcType=VARCHAR},
      storeArea = #{storearea,jdbcType=VARCHAR},
      storeAreaAdvise = #{storeareaadvise,jdbcType=VARCHAR},
      storeC = #{storec,jdbcType=INTEGER},
      heatHot = #{heathot,jdbcType=INTEGER},
      picUrl = #{picurl,jdbcType=VARCHAR},
      fitUser = #{fituser,jdbcType=VARCHAR},
      avoidUser = #{avoiduser,jdbcType=VARCHAR},
      introducte = #{introducte,jdbcType=VARCHAR},
      isCollection = #{iscollection,jdbcType=VARCHAR},
      isVaild = #{isvaild,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=VARCHAR},
      deviceId = #{deviceid,jdbcType=VARCHAR},
      realCatalogId = #{realcatalogid,jdbcType=VARCHAR},
      adviseAutoMode = #{adviseautomode,jdbcType=VARCHAR},
      adviseDryMode = #{advisedrymode,jdbcType=VARCHAR},
      noAdviseCabin = #{noadvisecabin,jdbcType=VARCHAR},
      coldMinDay = #{coldminday,jdbcType=INTEGER},
      coldMaxDay = #{coldmaxday,jdbcType=INTEGER},
      coldMinTemp = #{coldmintemp,jdbcType=INTEGER},
      coldMaxTemp = #{coldmaxtemp,jdbcType=INTEGER},
      freezingMinDay = #{freezingminday,jdbcType=INTEGER},
      freezingMaxDay = #{freezingmaxday,jdbcType=INTEGER},
      freezingMinTemp = #{freezingmintemp,jdbcType=INTEGER},
      freezingMaxTemp = #{freezingmaxtemp,jdbcType=INTEGER},
      minWater = #{minwater,jdbcType=INTEGER},
      maxWater = #{maxwater,jdbcType=INTEGER},
      picVer = #{picver,jdbcType=VARCHAR},
      businessType = #{businesstype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <insert id="inserorupdate" parameterType="com.fridge.skl.entity.UnlifeFood">
        insert into unlife_food (id,`name`, `alias`, shelfLife,
      overdue, classifyFaceId, classifyFaceName,
      storeArea, storeAreaAdvise, storeC,
      heatHot, picUrl, fitUser,
      avoidUser, introducte, isCollection,
      isVaild, updateDate, deviceId,
      realCatalogId, adviseAutoMode, adviseDryMode,
      noAdviseCabin, coldMinDay, coldMaxDay,
      coldMinTemp, coldMaxTemp, freezingMinDay,
      freezingMaxDay, freezingMinTemp, freezingMaxTemp,
      minWater, maxWater, picVer,
      businessType)
    values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{shelflife,jdbcType=INTEGER},
      #{overdue,jdbcType=FLOAT}, #{classifyfaceid,jdbcType=VARCHAR}, #{classifyfacename,jdbcType=VARCHAR},
      #{storearea,jdbcType=VARCHAR}, #{storeareaadvise,jdbcType=VARCHAR}, #{storec,jdbcType=INTEGER},
      #{heathot,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR}, #{fituser,jdbcType=VARCHAR},
      #{avoiduser,jdbcType=VARCHAR}, #{introducte,jdbcType=VARCHAR}, #{iscollection,jdbcType=VARCHAR},
      #{isvaild,jdbcType=VARCHAR}, #{updatedate,jdbcType=VARCHAR}, #{deviceid,jdbcType=VARCHAR},
      #{realcatalogid,jdbcType=VARCHAR}, #{adviseautomode,jdbcType=VARCHAR}, #{advisedrymode,jdbcType=VARCHAR},
      #{noadvisecabin,jdbcType=VARCHAR}, #{coldminday,jdbcType=INTEGER}, #{coldmaxday,jdbcType=INTEGER},
      #{coldmintemp,jdbcType=INTEGER}, #{coldmaxtemp,jdbcType=INTEGER}, #{freezingminday,jdbcType=INTEGER},
      #{freezingmaxday,jdbcType=INTEGER}, #{freezingmintemp,jdbcType=INTEGER}, #{freezingmaxtemp,jdbcType=INTEGER},
      #{minwater,jdbcType=INTEGER}, #{maxwater,jdbcType=INTEGER}, #{picver,jdbcType=VARCHAR},
      #{businesstype,jdbcType=VARCHAR})
      ON DUPLICATE KEY UPDATE
      `name` = #{name,jdbcType=VARCHAR},
      `alias` = #{alias,jdbcType=VARCHAR},
      shelfLife = #{shelflife,jdbcType=INTEGER},
      overdue = #{overdue,jdbcType=FLOAT},
      classifyFaceId = #{classifyfaceid,jdbcType=VARCHAR},
      classifyFaceName = #{classifyfacename,jdbcType=VARCHAR},
      storeArea = #{storearea,jdbcType=VARCHAR},
      storeAreaAdvise = #{storeareaadvise,jdbcType=VARCHAR},
      storeC = #{storec,jdbcType=INTEGER},
      heatHot = #{heathot,jdbcType=INTEGER},
      picUrl = #{picurl,jdbcType=VARCHAR},
      fitUser = #{fituser,jdbcType=VARCHAR},
      avoidUser = #{avoiduser,jdbcType=VARCHAR},
      introducte = #{introducte,jdbcType=VARCHAR},
      isCollection = #{iscollection,jdbcType=VARCHAR},
      isVaild = #{isvaild,jdbcType=VARCHAR},
      updateDate = #{updatedate,jdbcType=VARCHAR},
      deviceId = #{deviceid,jdbcType=VARCHAR},
      realCatalogId = #{realcatalogid,jdbcType=VARCHAR},
      adviseAutoMode = #{adviseautomode,jdbcType=VARCHAR},
      adviseDryMode = #{advisedrymode,jdbcType=VARCHAR},
      noAdviseCabin = #{noadvisecabin,jdbcType=VARCHAR},
      coldMinDay = #{coldminday,jdbcType=INTEGER},
      coldMaxDay = #{coldmaxday,jdbcType=INTEGER},
      coldMinTemp = #{coldmintemp,jdbcType=INTEGER},
      coldMaxTemp = #{coldmaxtemp,jdbcType=INTEGER},
      freezingMinDay = #{freezingminday,jdbcType=INTEGER},
      freezingMaxDay = #{freezingmaxday,jdbcType=INTEGER},
      freezingMinTemp = #{freezingmintemp,jdbcType=INTEGER},
      freezingMaxTemp = #{freezingmaxtemp,jdbcType=INTEGER},
      minWater = #{minwater,jdbcType=INTEGER},
      maxWater = #{maxwater,jdbcType=INTEGER},
      picVer = #{picver,jdbcType=VARCHAR},
      businessType = #{businesstype,jdbcType=VARCHAR}
    </insert>

</mapper>