<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridge.skl.dto.VoiceNoteMapper">
    <resultMap id="BaseResultMap" type="com.fridge.skl.entity.VoiceNote">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="time" jdbcType="BIGINT" property="time"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userid, note, `time`
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from voice_note
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByUserid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from voice_note
        where userid = #{userid,jdbcType=VARCHAR}
        order by time desc
        LIMIT #{page},1

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from voice_note
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByUserid" parameterType="java.lang.String">
    delete from voice_note
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteLastByUserid" parameterType="java.lang.String">
DELETE
FROM
	voice_note
WHERE
	id = (
SELECT
	a.id
FROM
	( SELECT id FROM voice_note WHERE userid =  #{userid,jdbcType=VARCHAR} AND `time` = ( SELECT max( `time` ) FROM voice_note WHERE userid =  #{userid,jdbcType=VARCHAR} ) ) AS a
	)

  </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.VoiceNote"
            useGeneratedKeys="true">
    insert into voice_note (userid, note, `time`
      )
    values (#{userid,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{time,jdbcType=BIGINT}
      )
  </insert>

</mapper>