<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fridge.skl.dto.VoiceShoplistMapper">
  <resultMap id="BaseResultMap" type="com.fridge.skl.entity.VoiceShoplist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="shopitem" jdbcType="VARCHAR" property="shopitem" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="delflg" jdbcType="INTEGER" property="delflg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, shopitem, `time`, delflg
  </sql>
  <select id="selectByUserid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from voice_shoplist
    where userid = #{userid,jdbcType=VARCHAR}
    and delflg = 0
  </select>
  <update id="deleteByUserid" parameterType="java.lang.String">
    update voice_shoplist
    set delflg = 1
    where userid = #{userid,jdbcType=VARCHAR}
  </update>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fridge.skl.entity.VoiceShoplist" useGeneratedKeys="true">
    insert into voice_shoplist (userid, shopitem, `time`, 
      delflg)
    values (#{userid,jdbcType=VARCHAR}, #{shopitem,jdbcType=VARCHAR}, #{time,jdbcType=BIGINT}, 
      #{delflg,jdbcType=INTEGER})
  </insert>

</mapper>